<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body class="background-homepage text-center">
  <h1 class="homepage-title">Find the perfect martial art class!</h1>

  <div class="container">

    <div class="col-12 col-sm-offset-3 col-sm-6">
      <div class="row">


      <div class="form-inline">

        <%= form_tag offers_path, method: :get do %>


        <%= select_tag(:city, options_for_select([[], ['São Paulo', 'São Paulo'], ['Rio de Janeiro', 'Rio de Janeiro'], ['Belo Horizonte', 'Belo Horizonte'], ['Curitiba', 'Curitiba']], 'São Paulo'), class: 'form-control search-bar') %>


        <%= select_tag(:fight, options_for_select([[], ['Karate', 'Karate'], ['JiuJitsu', 'JiuJitsu'], ['Kickboxing', 'Kickboxing'], ['Krav Maga', 'Krav Maga'], ['Aikido', 'Aikido'], ['Wing Chun', 'Wing Chun']], 'Karate'), class: 'form-control search-bar') %>

      </div>



        <%= submit_tag 'Search', id: 'search-button', class: 'btn btn-primary' %>






        <%= link_to "View all classes", offers_path, class: 'btn btn-primary', id: 'all-button' %>

        <% end %>



    </div>

  </div>
</div>

</body>

