<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body class="background-homepage text-center">
  <h1 class="homepage-title">Find the perfect martial art class!</h1>

  <div class="container">

    <div class="col-12 col-sm-offset-3 col-sm-6">
      <div class="row">


      <div class="form-inline">

        <%= form_tag offers_path, method: :get do %>


        <%= select_tag(:city, options_for_select([[], ['Aracaju', 'Aracaju'], ['Belo Horizonte', 'Belo Horizonte'], ['Belém', 'Bélem'], ['Boa Vista', 'Boa Vista'], ['Brasília', 'Brasília'], ['Campo Grande', 'Campo Grande'], ['Cuiabá', 'Cuiabá'], ['Curitiba', 'Curitiba'], ['Florianópolis', 'Florianópolis'], ['Fortaleza', 'Fortaleza'], ['Goiânia', 'Goiânia'], ['João Pessoa', 'João Pessoa'], ['Macapá', 'Macapá'], ['Maceió', 'Maceió'], ['Manaus', 'Manaus'], ['Natal', 'Natal'], ['Palmas', 'Palmas'], ['Porto Alegre', 'Porto Alegre'], ['Recife', 'Recife'], ['Rio Branco', 'Rio Branco'], ['Rio de Janeiro', 'Rio de Janeiro'], ['Salvador', 'Salvador'], ['São Luís', 'São Luís'], ['São Paulo', 'São Paulo'], ['Teresina', 'Teresina'], ['Vitória', 'Vitória']], 'São Paulo'), class: 'form-control search-bar') %>


        <%= select_tag(:fight, options_for_select([[],  ['Aikido', 'Aikido'], ['JiuJitsu', 'JiuJitsu'], ['Karate', 'Karate'], ['Kickboxing', 'Kickboxing'], ['Krav Maga', 'Krav Maga'], ['Muay Thai', 'Muay Thai'],  ['Wing Chun', 'Wing Chun']], 'Karate'), class: 'form-control search-bar') %>

      </div>



        <%= submit_tag 'Search', id: 'search-button', class: 'btn btn-primary' %>






        <%= link_to "View all classes", offers_path, class: 'btn btn-primary', id: 'all-button' %>

        <% end %>



    </div>

  </div>
</div>

</body>

