<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="the-container">

  <% @offers.each do |offer| %>
  <!-- <div class="the-card", style = "background-image: url('http://www.osul.com.br/wp-content/uploads/2016/12/lupulo-870x490.jpg');" > -->
    <div class="the-card">
      <%= cl_image_tag @offer.photo, crop: :fill %>
    <div class="title">
      <h1><%= offer.title%></h1>
    </div>
    <div>
      <%= cl_image_tag offer.teacher.photo,
      class: "avatar dropdown-toggle photo",
      id: "navbar-wagon-menu",
      "data-toggle" => "dropdown" %>
    </div>
    <div class="description">
      <p><%= offer.description %></p>
    </div>
    <div class="price">
      <p>R$ <%= offer.price %></p>
    </div>
    <div class="offer">
      <%= link_to "Show Offer", offer_path(offer) %>
    </div>
  </div>
  <% end %>
</div>
