<% @offers.each do |offer| %>
<h1><%= offer.title%></h1>
<p><%= offer.description %></p>
<p>R$ <%= offer.price %></p>
<%= link_to "Show Offer", offer_path(offer) %>
<% end %>

<%= link_to "Create Offer", new_offer_path %>

