<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
-->
<div class="background">
<div class="container">
  <div class="row">
    <% @offers.each do |offer| %>
          <%= link_to offer_path(offer) do %>
    <div class="card-trip col-4" >
<!--      <img class="card-user" src="<%= cl_image_tag offer.teacher.photo %>">
 -->    <% if offer.photo_url %>
      <img class="background-image" src="<%= cl_image_path offer.photo %>" alt="">
    <% else %>
      <div class="white-background">
      </div>
    <% end %>
      <div class="card-trip-infos">
        <div class="main-info">
          <h2><%= offer.title %></h2>
          <p>Type of Class: <%= offer.fight_model %></p>
        </div>
        <div class="price">
         <h2>R$ <%= offer.price %></h2>
        </div>
        <div class="offer">
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
