<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= link_to "Create Offer", new_offer_path %>


<div class="the-container">
  <% @offers.each do |offer| %>
  <div class="the-card">
    <div class="title">
      <h1><%= offer.title%></h1>
    </div>
    <div class="description">
      <p><%= offer.description %></p>
    </div>
    <div class="price">
      <p>R$ <%= offer.price %></p>
    </div>
    <div class="offer">
      <%= link_to "Show Offer", offer_path(offer) %>
    </div>
  </div>
  <% end %>
</div>
