<h1>Your classes!</h1>

<% @offers.each do |offer| %>
<h3><%= offer.title%></h3>
<p>Fight mode: <%= offer.fight_model %>
<p>Description: <%= offer.description %></p>
<p>Address: <%= offer.address %></p>
<p>Date: <%= offer.datetime %></p>
<p>Your price: R$<%= offer.price %></p>

<%= link_to edit_offer_path(offer) do %>
  <i class="fas fa-edit"></i>
<% end %>

<%= link_to destroy_specific_path(offer), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } do %>
    <i class="fas fa-trash-alt"></i>
<% end %>

<% end %>

