 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <div class="background">
   <div class="container">

    <div class="row">
      <% @offers.each do |offer| %>
      <div class="card-myclasses col-4" >
        <% if offer.photo_url %>
        <img class="background-image" src="<%= cl_image_path offer.photo %>" alt="">
        <% else %>
        <div class="white-background">
        </div>
        <% end %>
        <div class="card-myclasses-infos">
          <div class="main-info">
            <h2><%= offer.title %></h2>
            <p><%= offer.fight_model %></p>
          </div>
          <div class="price">
           <h2>R$ <%= offer.price %></h2>
         </div>
         <div class="offer">
          <%= link_to "Show Offer !", offer_path(offer) %>
        </div>
        <div class="student-info">
          <% if offer.student %>
          <p>Student: <%= offer.student.name %>
            <p>Phone: <%= offer.student.phone %></p>
            <p>E-mail: <%= offer.student.email %></p>
            <% else %>
            <p>You don't have any student yet</p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
