<h1>Your classes!</h1>

<% @offers.each do |offer| %>
<%= link_to offer.title, offer_path(offer) %>
<!-- <h3><%= offer.title%></h3> -->
<p>Fight mode: <%= offer.fight_model %>
<p>Description: <%= offer.description %></p>
<p>Address: <%= offer.address %></p>
<p>Date: <%= offer.datetime %></p>
<p>Your price: R$<%= offer.price %></p>

<%= link_to "Unjoin", unjoin_offer_path(offer, origin: 'my_classes'), method: :patch, data: { confirm: 'Are you sure?'} %><br><br>

<% end %>

